accelerate
aivmlib
cmudict
cn2an
gradio>=4.32
jaconv
librosa==0.9.2
loguru
nltk<=3.8.1
numpy<2
onnx
onnxconverter-common
onnxruntime-gpu
onnxsim-prebuilt
pyannote.audio>=3.1.0
pyloudnorm
kabosu-plus @ git+https://github.com/q9uri/kabosu-plus@ae2d379441ef60f0248e8c3c1c5202fa45150aab
pypinyin
pyworld-prebuilt
torch
torchaudio
torchvision
transformers<4.50.0
umap-learn
