accelerate
aivmlib
cmudict
cn2an
e2k
faster-whisper
g2p_en
GPUtil
gradio>=4.32
jaconv
jieba
librosa
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime; (sys_platform != 'linux' or platform_machine != 'x86_64') and sys_platform != 'win32'
onnxruntime-directml; sys_platform == 'win32'
onnxruntime-gpu; sys_platform == 'linux' and platform_machine == 'x86_64'
onnxsim-prebuilt
protobuf
psutil==6.1.1
punctuators
pyannote.audio>=3.1.0
pyloudnorm
pypinyin
pyworld-prebuilt
stable_ts
tensorboard
torch
torchaudio
transformers==4.53.0
umap-learn
kabosu-core @ git+https://github.com/q9uri/kabosu-core@139586c4b64b8babbe1d4e312b3e1179ae0c33ac