accelerate
aivmlib
cmudict
cn2an
e2k
g2p_en
gradio>=4.32
jaconv
jieba
librosa==0.9.2
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime-gpu
onnxsim-prebuilt
pyannote.audio>=3.1.0
pyloudnorm
kabosu-plus @ git+https://github.com/q9uri/kabosu-plus@0876a6f684be0648266f58b4bff5679edede0218
pypinyin
pyworld-prebuilt
torch
torchaudio
torchvision
transformers<4.50.0
umap-learn
