# accelerate
aivmlib
cmudict
cn2an
e2k
# faster-whisper==0.10.1
g2p_en
# GPUtil
# gradio>=4.32
jaconv
jieba
# librosa==0.9.2
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime; (sys_platform != 'linux' or platform_machine != 'x86_64') and sys_platform != 'win32'
onnxruntime-directml; sys_platform == 'win32'
onnxruntime-gpu; sys_platform == 'linux' and platform_machine == 'x86_64'
onnxsim-prebuilt
# protobuf==4.25
psutil==6.1.1
# punctuators
# pyannote.audio>=3.1.0
# pyloudnorm
kabosu-core @ git+https://github.com/q9uri/kabosu-core@3f9732129f8bcf5d2f2988981b163e69c58096ce
pypinyin
pyworld-prebuilt
# stable_ts
# tensorboard
# torch
# torchaudio
transformers==4.53.0
umap-learn
