accelerate
aivmlib
cmudict
cn2an
e2k
g2p_en
gradio>=4.32
jaconv
jieba
librosa==0.9.2
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime-gpu
onnxsim-prebuilt
pyannote.audio>=3.1.0
pyloudnorm
kabosu-core @ git+https://github.com/q9uri/kabosu-core@2adb5e8fbfdb9284c1f3ef9e6d264c29f94986c2
pypinyin
pyworld-prebuilt
torch
torchaudio
torchvision
transformers<4.50.0
umap-learn
